<ion-view view-title="Destiny">
  <ion-content class="padding">
    <ion-list>
      <ion-item >
          <select ng-model="destiny.class" ng-change="updateClass(destiny.class)">
              <option value="" disabled="" selected="" class="ng-binding">Select a Class</option>
              <option ng-repeat="name in destiny" value="{{name.id}}">{{name.class}}</option>
          </select>
          <select id="spec" ng-model="destiny.specs" ng-change="" disabled="">
              
              <option value="" disabled="" selected="" class="ng-binding">No Class Selected</option>
          </select>
           <select disabled="">
               <option selected="">New Save</option>
          </select>
      </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
