<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="WOW" icon="customiconWow" icon-on="customiconWow" href="#/tab/wow">
    <ion-nav-view name="tab-wow"></ion-nav-view>
  </ion-tab>
  <!-- Dashboard Tab 
  <ion-tab title="GW2" icon="customiconGw2" icon-on="customiconGw2" href="#/tab/gw2">
    <ion-nav-view name="tab-gw2"></ion-nav-view>
  </ion-tab>-->

  <!-- Chats Tab -->
  

  <!-- Account Tab -->
  <ion-tab title="Destiny" icon="customiconDestiny" icon-on="customiconDestiny" href="#/tab/destiny">
    <ion-nav-view name="tab-destiny"></ion-nav-view>
  </ion-tab>

</ion-tabs>
